body {
    background-color: #1e4770; /* Azul escuro */
    color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'DejaVu Sans Mono', monospace; /* DejaVu Sans Mono, monospace */
    text-align: center; /* Centraliza o texto na tela */
}

h1 {
    font-family: 'DejaVu Sans Mono', monospace; /* DejaVu Sans Mono, monospace */
    color: #000000;
    font-size: 50px;
    border-radius: 20px;
    text-align: center; /* Centraliza o texto na tela */
}

.cabecalho {
    display: flex; /* Use flexbox for centering */
    flex-direction: row; /* Arrange elements horizontally */
    justify-content: center; /* Center elements horizontally */
    align-items: center; /* Center elements vertically */
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #808080; /* Cinza */
    text-align: left;
    padding: 8px;
    border-radius: 10px; /* Adiciona bordas arredondadas */
}

th {
    background-color: #000000;
}

.botao {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Adiciona transição suave na mudança de cor */
    margin: 5px; /* Adiciona margem entre os botões */
}

.botao:hover {
    background-color: #808080; /* Altera a cor de fundo ao passar o cursor */
}

.botao:active {
    box-shadow: 0 0 10px black; /* Adiciona sombra ao clicar no botão */
}

.historico-numero {
    background-color: #ADD8E6; /* Azul claro */
}
